<form [formGroup]="quizFormData">
  <h2>Settings</h2>
  <div id="clearFormContainer">
     <a href="#" id="reset-quiz" (click)='showDeleteQuizDialog()' title="Clear all quiz data"><i class="gg-trash"></i></a>
  </div>
  <div class="setting">
    <label for="name">Quiz Name: </label>
    <input id="name" type="text" formControlName="name">
  </div>
  <div class="setting">
    <label for="backgroundColour">Background colour: </label>
    <input id="backgroundColour" type="color" formControlName="backgroundColour">
  </div>

  <div class="setting">
    <p>Show answers...</p>
    <div class="radio-option">
      <label>
        <input type="radio" value="each" formControlName="showAnswers">
        <span>After each round</span>
    </label>
    </div>
    <div class="radio-option">
      <label>
        <input type="radio" value="after3" formControlName="showAnswers">
        <span>After every 3 rounds</span>
      </label>
    </div>
    <div class="radio-option">
      <label>
        <input type="radio" value="end" formControlName="showAnswers">
        <span>After all rounds</span>
      </label>
    </div>
  </div>

  <h2>NAME: {{ quiz.name }}</h2>

  <div>
    <button id="add-round-btn" (click)='addRound()'>Add Round</button>
  </div>

  <div formArrayName="rounds" *ngFor="let r of rounds().controls; let roundIndex = index">
    <div [formGroupName]="roundIndex">
      <table>
        <tr>
          <th>No.</th><th>Round name</th><th></th>
        </tr>
        <tr>
          <td><input formControlName='number' id="number{{roundIndex}}" type="number" placeholder="Enter round number" (change)="saveToLocal()"></td>
          <td><input formControlName='name' id="name{{roundIndex}}" type="text" placeholder="Enter round name" (change)="saveToLocal()"></td>
          <td><a href="#" id="remove-r{{roundIndex}}" (click)='showDeleteRoundDialog(roundIndex)' title="Remove this round"><i class="gg-trash"></i></a></td>
        </tr>
      </table>

      <details>
        <summary>Questions</summary>
        <div>
          <button id="add-question-round{{roundIndex}}-btn" (click)='addQuestion(roundIndex)'>Add Question</button>
        </div>
        <div style="padding: 0.25rem 0" formArrayName="questions">
          <table>
            <tr>
              <th>No.</th><th>Question</th><th>Answer</th><th>Select image (if required)</th><th>
            </tr>
            <tr *ngFor="let q of roundQuestions(roundIndex).controls; let questionIndex = index" [formGroupName]="questionIndex">
              <td><input formControlName='number' id="round{{roundIndex}}number{{questionIndex}}" type="number" placeholder="Enter question number" (change)="saveToLocal()"></td>
              <td><input formControlName='question' id="round{{roundIndex}}question{{questionIndex}}" type="text" placeholder="Enter question" (change)="saveToLocal()"></td>
              <td><input formControlName='answer' id="round{{roundIndex}}answer{{questionIndex}}" type="text" placeholder="Enter answer" (change)="saveToLocal()"></td>
           	  <td><input formControlName='image' id="round{{roundIndex}}image{{questionIndex}}" type="hidden">
           	    <label for="round{{roundIndex}}imagepicker{{questionIndex}}">Select image</label>
	              <input id="round{{roundIndex}}imagepicker{{questionIndex}}" type="file" accept="image/*" (change)="onFileChange($event, roundIndex, questionIndex)" style="visibility: hidden; width: 1px">
                <img *ngIf="this.roundQuestions(roundIndex).value[questionIndex].image" src="{{ this.roundQuestions(roundIndex).value[questionIndex].image }}" width="100">
              </td>
              <td><a href="#" id="remove-r{{roundIndex}}-q{{questionIndex}}" (click)='showDeleteQuestionDialog(roundIndex, questionIndex)' title="Remove this question"><i class="gg-trash"></i></a></td>
            </tr>
          </table>
        </div>
      </details>
    </div>
  </div>
</form>

<dialog id="deleteQuizDialog">
  <p>Are you sure you want to clear all Quiz data?</p>
  <p>(perhaps you should <a routerLink="/export" routerLinkActive="active">Save Quiz</a> first)</p>
  <form method="dialog">
    <button>No</button> &nbsp;
    <button id="confirm-reset-quiz"(click)='clearQuizData()'>Yes</button>
  </form>
</dialog>

<dialog id="deleteRoundDialog">
  <p>Are you sure you want to delete this round?</p>
  <form method="dialog">
    <button>No</button> &nbsp;
    <button id="confirm-remove-round"(click)='removeRound()'>Yes</button>
  </form>
</dialog>

<dialog id="deleteQuestionDialog">
  <p>Are you sure you want to delete this question?</p>
  <form method="dialog">
    <button>No</button> &nbsp;
    <button id="confirm-remove-question" (click)='removeQuestion()'>Yes</button>
  </form>
</dialog>
