<div *ngIf="showNav">
  <h1>Quiz Builder</h1>
  <nav>
    <ul>
      <li><a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a></li>
      <li><a routerLink="/quiz-builder" routerLinkActive="active" ariaCurrentWhenActive="page">Create/Edit Quiz</a></li>
      <li><a href="/quiz">Run Quiz</a></li>
      <li><a routerLink="/import" routerLinkActive="active" ariaCurrentWhenActive="page">Import Quiz</a></li>
      <li><a routerLink="/export" routerLinkActive="active" ariaCurrentWhenActive="page">Export Quiz</a></li>
    </ul>
  </nav>
</div>

<router-outlet></router-outlet>
