BODY {
  font-family: arial;
}

H1 {
  font-family: arial;
  margin: 0;
  padding: 20px 20px 0;
}

NAV {
  font-family: arial;
  padding: 20px;
  border-bottom: 2px solid black;

  UL {
    list-style: none;
    padding: 0;
    margin: 0;

    LI {
      display: inline-block;
      padding: 0 20px 0 0;

      A, A:visited {
        color: #00C;
        text-decoration: none;
      }

      A:hover {
        color: #006;
      }
    }
  }
}
