MAIN {
  margin: 20px;
  font-family: arial;
}

.warning {
  background-color: #FEE;
  border: 2px solid #F00;
  border-radius: 5px;
  padding: 1rem;
}

INPUT {
  font-size: 1rem;
  background-color: #F9F9F9;
  border: #999 1px solid;
  border-radius: 5px;
  padding: 6px;
  margin-right: 0.5rem;
}
